<div class="welcome">
  <p>Companies gather funds from equity and debt markets to finance capital tied to their operations in form of cash and liquid assets, fixed assets and net working capital - if net working capital increases typically the company needs to borrow more money.</p>
  <i class="continue ion-ios-arrow-forward" ui-sref="quiz"></i>
  <div class="sources_and_uses">
    <div class="sources">
      <h3>Sources</h3>
      <div><p>Equity <br> - from owners <br> -from net profit</p></div>
      <i class="ion-android-add-circle"></i>
      <div><p>Debt <br> - from debt investors and financial institutions</p></div>
    </div>
    <div class="arrow">
      <div>
        <i class="ion-arrow-right-a"></i>
      </div>
    </div>
    <div class="uses">
      <h3>Uses</h3>
      <div><p>Cash and liquid assets</p></div>
      <i class="ion-android-add-circle"></i>
      <div><p>Fixed assets</p></div>
      <i class="ion-android-add-circle"></i>
      <div><p>Net Working Capital</p></div>
    </div>
  </div>
</div>
