h1{
  font-size:24px;
  text-align: center;
}
h2{
  color: $green;
}
h3{
  margin-top:15px;
}
p,b{
  color: $black;
}
span{
  color:#E15415;
}
.main_container, .landing{
  @include outer-container;
  margin-top:15px;
  padding: 25px;
  background-color: white;
  .header{
    @include span-columns(12);
    padding-top:20px;
  }
  .welcome{
    min-height: 500px;
    .continue{
      @include clickNext;
      margin-top:15px;
    }
    .sources_and_uses{
      @include span-columns(6);
      float:right;
      text-align: center;
      i{
        display: block;
        color: $red;
        font-size: 40px;
        margin-top:5px;
      }
      .sources{
        @include span-columns(5);
        div{
          @include textPadding;
          background-color: $green;
          p{
            color: white;
          }
        }
      }
      .arrow{
        @include span-columns(1);
        div{
          position: relative;
          text-align: center;
          min-height: 280px;
          i{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -9px;
          }
        }
      }
      .uses{
        @include span-columns(5);
        div{
          @include textPadding;
          background-color: $blue;
          color: white;
          &:last-of-type{
            background-color: $orange;
          }
          p{
            color: white;
          }
        }
      }
    }
  }
  .intro{
    @include span-columns(12);
    margin-top:15px;
    margin-bottom: 15px;
    height:82px;
    .description{
      @include span-columns(4.5);
    }
    .networking_block{
      @include span-columns(3);
      @include textPadding;
      @include btnStyle;
      background-color: $black;
      position: relative;
      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 10px;
        background: $black;
        height: 20px;
        right: 0;
        margin: auto;
        @include media(max-width $mobile){
          display:none;
        }
      }
      &:after{
        content: '';
        height: 10px;
        width: 807px;
        position: absolute;
        display: block;
        background: $black;
        bottom: -30px;
        left: -40vw;
        right: -40vw;
        margin: auto;
        @include media(max-width $mobile){
          display:none;
        }
      }
    }
    .mission{
      @include span-columns(4.5);
    }
  }
  .question_blocks{
    @include span-columns(12);
    .question{
      @include span-columns(3);
      background-color: white;
      position: relative;
      &:before{
        content: '';
        width: 10px;
        height: 20px;
        display: block;
        position: absolute;
        top: -19px;
        left: 0;
        right: 0;
        margin: auto;
        background: $black;
        @include media(max-width $mobile){
          display:none;
        }
      }
      &:nth-child(1){
        .dragged_container{
          .dragged{
            p{  @include placedItemWithPlusIcon;  }
          }
        }
      }
      &:nth-child(2){
        .dragged_container{
          .dragged{
            p{  @include placedItemWithPlusIcon; text-align: center;}
          }
        }
      }
      &:nth-child(3){
        .dragged_container{
          .dragged{ p{ @include placedItemWithMinusIcon; }
          }
        }
      }
      &:nth-child(4){
        .dragged_container{
          .dragged{
            p{  @include placedItemWithMinusIcon; }
          }
        }
      }
      @include media(max-width $mobile){
        @include span-columns(12);
      }
      .description{
        @include blockStyle;
        border-bottom-right-radius: 15px;
        font-size: 14px;
        padding-top: 10px;
        min-height: 320px;
        @include media(max-width $mobile){
          min-height: 120px;
        }
      }
      .dragged_container{
        background-color: darken($green, 7%);
        min-height: 54px;
        padding:7px;
        .dragged{
          background-color: $green;
          border-top-left-radius: 10px;
          border-bottom-right-radius: 10px;
          min-height: 40px;
          p{
            @include textPadding;
            padding:11px;
            @include btnStyle;
            text-align: right;
            background-color: darken($green, 7%);
            border-radius:0;
          }
        }
      }
    }
  }
  .answer_blocks{
    @include span-columns(12);
    background-color: white;
    .quiz_over{
      @include span-columns(10);
      padding-top:45px;
      text-align: left;
    }
    .continue{
      @include span-columns(2);
      @include clickNext;
      float: right;
    }
    .answer_block{
      display: inline-block;
      padding:15px;
      &:first-of-type{
        padding-left: 0;
      }
      p{
        @include textPadding;
        @include btnStyle;
        border-radius:0;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $green;
      }
    }
    .quiz_over{
      text-align: center;
      font-size: 24px;
      padding-bottom: 15px;
    }
  }
}
