@mixin blockStyle{
  border: 7px solid darken($gray, 3%);
  border-bottom-right-radius: 5px;
  padding: 15px;
  margin-bottom: 5px;
}
@mixin btnStyle{
  border-radius: 3px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: white;
}
@mixin textPadding{
  padding: 15px;
}

@mixin clickNext {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size:32px;
  width:50px;
  height: 50px;
  line-height: 50px;
  color: white;
  border-radius: 100%;
  background-color: $green;
  &:hover{
    background-color: lighten($green,8%);
  }
}
@mixin placedItemWithPlusIcon{
  &:after{
    content: "+";
    background: $black;
    border-radius: 80px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    position: absolute;
    top: 11px;
    text-align: center;
    font-size: 23px;
  }
}
@mixin placedItemWithMinusIcon{
  &:after{
    content: "-";
    background: $red;
    border-radius: 80px;
    width: 32px;
    height: 32px;
    line-height: 30px;
    display: block;
    position: absolute;
    top: 11px;
    text-align: center;
    font-size: 23px;
}
}
@keyframes blink {
  0%{
    background-color: $green;
  }
  50%{
    background-color: $green;
  }
  100%{
    background-color: $gray;
  }
}
