.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
	transition: opacity 200ms ease;
  z-index: 999;
  background: rgba(0,0,0,0.4);
  opacity: 1;
  &.ng-show,&.ng-hide {
    opacity: 0;
  }
}

.modal {
	opacity: 1;
	width: 540px;
  background: $dark-gray;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: fixed;
  top: 30%;
  transform: translateY(0px);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  transition: top 300ms ease;
	border: 7px solid $gray;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
  .question_and_answer{
		@include clearfix;
		position: relative;
		height: 155px;
    .tf_question{
			color: white;
			padding: 15px;
    }
		.controllers{
			@include span-columns(12, block-collapse);
			position: absolute;
			bottom: 0;
			padding:15px;
			.true, .false{
				@include span-columns(4, block-collapse);
				@include textPadding;
				@include btnStyle;
				border-radius: 0;
				padding: 5px;
				color: black;
				background-color: white;
			}
			.or{
				@include span-columns(4, block-collapse);
				padding: 5px;
				color: white;
				text-align: center;
			}
			.next{
				@include span-columns(12);
				@include textPadding;
				padding: 10px;
				@include btnStyle;
				background-color: $green;
			}
		}
  }
	.answer{
		padding: 15px;
		border-bottom-right-radius: 8px;
		background-color: $red-ish;
		height: 220px;
		color: white;
		border-top: 7px solid $gray;
		position: relative;
		p{
			color: white;
		}
		i{
			@include clickNext;
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
	}

}
